/* nav related styles */
nav{
    display: flex;
  
}

/* new font shared  */
body{
    font-family: 'Open Sans', sans-serif;
}
 
.title{
    color: var(--Dark-01, #181818);
font-size: 45px;
font-weight: 800;

}

#orange{
    color: #FD6E0A;
}
 
nav> ul{
    display: flex;
}
nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}
 .primarybtn{
    background-color: #FD6E0A;
    border-radius: 4px;
    border: 2px black;
    color: var(--White-Color, #FFF);
    font-size: 20px;
    font-weight: 700;
 }