/* nav related styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
  
}

/* new font shared  */
body{
    font-family: 'Open Sans', sans-serif;
}
 
.title{
    color: var(--Dark-01, #181818);
font-size: 20px;
font-weight: 800;
/* border: 2px solid black; */
width: 800px;
}

#orange{
    color: #FD6E0A;
}
 
nav> ul{
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}
 .primarybtn{
    background-color: #FD6E0A;
    border-radius: 4px;
    border: 2px black;
    color: var(--White-Color, #FFF);
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
   
 }
 .header{
    background-color: #fff8f3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
 }
  
 .banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items:center;
    justify-content: space-between;
 }
 .banner-content{ max-width: 500px;

 }
 img{
    width: 584px;
height: 676px;
flex-shrink: 0;
 }
 .greeting{
    font-size: 45px;
font-weight: 600;
   color: #474747;
    margin-bottom: 0px;
 }

 .title{
  
font-size: 85px;
font-weight: 700;
margin-top: 5px;
margin-bottom: 20px;
 }

.discription{
    color: var(--Dark-03, #757575);

font-size: 18px;

}
    
.info-description{
    font-size: small;
    color: #474747;
    
}


.about{
    padding: 130px;
    border-radius: 10px;
background: #FFF8F3;
width: 1140px;
height: 550px;
margin: 130px;
margin: auto;
margin-top: 100px;

  
}

.about-info-container{
    display: flex;
    justify-content: space-between;
}


.section-title{
    color: #181818;
text-align: center;
font-family: Open Sans;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.section-description{
    color: var(--Dark-03, #757575);
text-align: center;
font-size: 18px;
/* font-style: normal;
font-weight: 400; */
/* line-height: 30px;  */
}